@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --font-urbanist: "Urbanist", sans-serif;
}
