---
import ContactForm from "@components/Contact/ContactForm.astro";
import ContactInfo from "@components/Contact/ContactInfo.astro";
import Hero from "@components/Contact/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Hero />
  <section class="bg-[#0b0c15] px-8 py-20 md:px-16 md:py-32">
    <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
      <ContactInfo />
      <ContactForm />
    </div>
  </section>
</Layout>
