---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";

import "@styles/global.css";
import "aos/dist/aos.css";
import CommonHead from "./CommonHead.astro";
---

<html lang="en">
  <CommonHead />
  <body
    class="font-urbanist m-0 overflow-x-hidden overflow-y-auto bg-teal-50 p-0 text-gray-900 antialiased *:mx-auto *:max-w-400 selection:bg-teal-100 selection:text-gray-900"
  >
    <Navbar />
    <slot />
    <Footer />

    <script>
      import AOS from "aos";
      if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
        AOS.init({
          disable: false,
          duration: 600,
          easing: "ease-in",
          once: true,
        });
      }
    </script>
  </body>
</html>
